/* Modes */

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

/* Global Styles */

    /* Menu */
    .leftgap{
        margin-left: 10px;
    }


.card-body {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.card-text {
    height: 70px;
}

h5{
    font-size: 1.2rem;
    font-weight: bold;
}

/* Gallery */
#photos{
    column-gap: 0;
}

/* Anxiety Page */

#header {
    background-color: #2a3f74;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
}

/* Larger Screen Alterations */
@media (min-width: 1400px){
    #photos{
        column-count: 5;
    }
}


/* Small Screen Alterations */

@media (min-width: 1251px) and (max-width: 1399px) {
    .card-text {
        height: 90px;
    }

    .card-title {
        height: 50px;
        text-align: center;
    }

    h5{
        font-size: 1.2rem;
        font-weight: bold;
    }

    /* Gallery */
    #photos{
        column-count: 3;
        column-gap: 0;
    }
}

/* Tablet Alterations */

@media (min-width: 993px) and (max-width: 1250px) {
    .card-text {
        height: 90px;
    }

    .card-title {
        height: 50px;
        text-align: center;
    }

    h5{
        font-size: 1.2rem;
        font-weight: bold;
    }

    /* Gallery */
    #photos{
        column-count: 3;
        column-gap: 0;
    }
}

/* Smaller Tablet Alterations */

@media (min-width: 768px) and (max-width: 992px) {
    .card-text {
        height: 180px;
    }

    .card-title {
        height: 50px;
        text-align: center;
    }

    h5{
        font-size: 1rem;
        font-weight: bold;
    }

    /* Gallery */
    #photos{
        column-count: 2;
        column-gap: 0;
    }
}

/* Phone Alterations */

@media (max-width: 767px) {
    .card-text {
        height: 70px;
    }

    #photos{
        column-count: 1;
        column-gap: 0;
    }
}

/* Smiles page */
#photos img{
    width: 100%;
    line-height: 1em;
}

#photos{
    line-height: 0;
}